body {
  background-image: url('images/bg.png');
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

.white {
  color: #e4e2e3;
}

.green {
  color: #9aa92d;
}

.header {
  font-weight: bold;
}

.header .alpha {
  font-size: 60px;
}

.header .omega {
  font-size: 25px;
}

.content_wrapper {
  position: relative;
}

.content_wrapper h4 {
  background-image: url('images/transparent.png');
  padding: 0 10px; /* this still overlaps on the bottom */
  position: absolute;
  left 0;
}

.content {
  margin-top: 22px;
  overflow-x: auto;
}

#photographer_1 {
  top: 0;
}

#photographer_2 {
  top: 275px;
}

.photos_background {
  z-index: -1;
  background-image: url('images/transparent.png');
  position: absolute;
  left: 0;
  height: 235px;
  width: 1000px;
}

#photos_background_1 {
  top: 0;
}

#photos_background_2 {
  top: 275px;
}

.photos {
  z-index: 99;
  padding: 10px;
  white-space: nowrap;
  margin-bottom: 35px;
}

.photos.omega {
  margin-bottom: 0;
}

.photos img {
  margin-right: 10px;
}